 @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
 @import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Raleway&display=swap');

 :root {
    /* Light mode */
    --light_mode: #fefae0;
    --top: #fbc4ab;
    --bottom: #f4978e;
    --background: #fefae0;
    --text: #0f0f0f;
    --h1: #ffa34d;
    --li_hover: #f8ad9d;
    --line: #ffceb2;
    --text_light: #0d0d0d;
    --headers: #d68c01;

    --button_border: #ffa8a8;
    --button_background: #fccaca;
    --circle_color: #f0f0f0;
    --icon_sun: #fda500;
    --icon_moon: #0f0f0f;
    
    --gallery_back: #fff8c8;
    --border_gallery: #a09b9b;
    --picture_text: #0f0f0f;
    --border: #6e6e6e;
    --shadow_1: #0000003d;
    --shadow_2: #00000030;

    /* Dark mode*/
    --dark_mode: #272727;
    --text_dark:#fdfdfd;
    --icon_sun_dark: #808080;
    --icon_moon_dark:#808080;
    --gallery_back_dark: #cecece;
    --border-gallery_dark: #e9e6e6;
    --shadow_1_d: #4d4c4c;
    --shadow_2_d: #4e4e4e;

    --default-transition: color .3s ease-in-out, background-color .3s ease-in-out, border-color .3s ease-in-out, fill .3s ease-in-out, transform .3s ease-in-out;
}  

body {
    background-color: var(--background);
    color: var(--text);
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Nunito',sans-serif;  
}

.light_mode {
    background-color: var(--light_mode);
    color: var(--text_light);
    transition: var(--default-transition);

    #icon-moon {
        fill:var(--icon_moon_dark);
    }
}

.dark_mode {
    background-color:var(--dark_mode);
    color: var(--text_dark);
    transition: var(--default-transition);

    .toggle_button::before {
        transform: translateX(43px);
    }

    #icon-sun {
        fill: var(--icon_sun_dark);
    }

    #icon-moon {
        fill: var(--icon_moon);
    }

    .gallery {
        border: 1px solid var(--border-gallery_dark);
        background-color: var(--gallery_back_dark);
        box-shadow: 0 4px 8px 0 var(--shadow_1_d), 0 6px 20px 0 var(--shadow_2_d);
    }
    
}

.toggle_button {
    background-color: var(--button_background);
    border: 1px solid var(--button_border);
    border-radius: 50px;
    display: flex;
    align-items: center;
    gap: 1.33rem;
    cursor: pointer;
    padding: 0.66rem;
    position: relative;
    transition: var(--default-transition);
}

.toggle_button:hover {
    border: 1px solid #f08a8a;
}
  .toggle_button::before {
    content: '';
    position:absolute;
    width: 2.22rem;
    height: 2.22rem;
    background-color: var(--circle_color);
    border-radius: 50px;
    z-index: 0;
    left:0;
    transform: translateX(0.22rem);
    transition: var(--default-transition);
}
  
  .toggle_button svg {
    z-index: 1;
    transition: var(--default-transition);
}
  #icon-sun {
    fill: var(--icon_sun);
}
  #icon-moon {
    fill: var(--icon_moon);
}

main {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: var(--top);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 20em;
    font-size: 1.25em; 
    padding: 10px;
}

.logo {
    width: 50%;
    padding: 0px;
}

.logodiv { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 120px;
}

.ul {
    list-style-type: none;
    padding-left: 0; 
    display: flex;
    gap: 0.5em;
    color: var(--text);
}

li {
    display: inline-block;
    font-weight: bold;
}

li a:hover {
    background-color: var(--li_hover); 
}

.h1 {
    font-size: 2em;
    font-family: 'Fredericka the Great';
    font-weight: lighter;
    color: var(--h1);
}

.h3 {
    font-size: 1.25em;
    color: var(--h1);
}
.h4 {
    font-size: 1.25em;
    color: var(--h1);
}
.me {
    width: 60%; 
}

.he {
    color: var(--text);
}

#home {
    font-size: 1.25em;
    display: flex;
    padding-top: 1em;
    width: 100%;
}

.avatar {
    width: 50%;    
    padding-top: 1%;
    height: 10%;
    border-radius: 50px;
}
.image {
    height: 10%;
    width: 50%;    
    padding-top: 1%;
}

.information {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#langue {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 2em;
}

.hr{
    width: 50%;
    color: var(--line);
    background-color: var(--line);
    height: 2px;
    border-width: 0;
}

#website {
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);  
    grid-template-rows: auto;
}

a {
    text-decoration: none;
    color: var(--text);
}

.responsive {
    float: left;
    width: 300px;
    margin: 50px;
}

.gallery {
    border: 1px solid var(--border_gallery);
    background-color: var(--gallery_back);
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 var(--shadow_1), 0 6px 20px 0 var(--shadow_2);
}

.gallery img {
    width: 100%;
    height: 150px;
}

* {
    box-sizing: border-box;
  }

.info {
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-family: 'Nunito',sans-serif;
    width: 300px;
  }

.footer {
    display: flex;
    background-color: var(--bottom);
    color: var(--text);
    align-items: center;
    margin-top: 10%;
    flex-direction: column;
}

.github {
    width: 50px;
    margin: 5px;
}

.made_by {
    color: var(--text);
    font-size: 1.125em;
}


/* Responsive opp til desktop */
@media (max-width: 1025px) {
    .projects {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(4, 1fr);
    }
	
    
}
/* Responsive opp til desktop liten */
@media (max-width: 1024px) {
    .projects {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }
	
}
/* Responsive opp til tablet */
@media (max-width: 770px) {
    .projects {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .information {   
        width: 80%; 
        height: 30%;
    }
   
    .avatar {
        width: 70%; 
        height: 60%;
        
    }

    .image {
        height: 50%;
        width: 80%;    
        display: flex;
        justify-content: center;
    } 
}
/* Responsive opp til mobil */
@media (max-width: 426px) {
	.projects {
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }

    .ul {
        flex-direction: column
    }

    #home, 
    #website {   
        flex-direction: column;
        align-items: center;
    }

    .information{
        width: 100%;
    }

    .avatar {
        width: 50%;
        padding: 0;
    }
}