 @import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
 
 @import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
 
 :root{
    --top: #fbc4ab;
    --bottom: #f4978e;
    --background: #fefae0;
    --text: #0f0f0f;
    --h1: #ffa34d;
    --li_hover: #f8ad9d;
    --line: #ffceb2;

    --border_gallery: #a09b9b;
    --picture_text: #0f0f0f;
    --border: #6e6e6e;
    --shadow_1: #0000003d;
    --shadow_2: #00000030;
}

body {
    background-color: var(--background);
    /*background-image: linear-gradient(#fee7e7, #feece7, #feede7);*/
    color: var(--text);
    margin: 0px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Nunito',sans-serif;  
}

.light_mode {
    background-color: var(--background);
    color: #0d0d0d;
}

.dark_mode {
    background-color: #0d0d0d;
    color: #fdfdfd;
}

main {
    flex-grow: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: var(--top);
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 20em;
    font-size: 1.25em; 
    /*border: 1px solid #f8ad9d;*/
}

.header a {
    float: left;
    color: var(--text);
    align-items: left;
    padding: 14px 15px;
    text-decoration: none;
}

.logo {
    width: 50%;
    padding: 0px;
}

.logodiv { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 120px;
}

.ul {
    list-style-type: none;
    padding-left: 0; 
    display: flex;
    gap: 0.5em;
    color: var(--text);
}

li {
    display: inline-block;
    font-weight: bold;
}

li a:hover {
    background-color: var(--li_hover);
    
}

.h1 {
    font-size: 2em;
    font-family: 'Fredericka the Great';
    font-weight: lighter;
    color: var(--h1);
}

.h2 {
    font-size: 1.5625em;
    color: orange;
    
}

.h3 {
    font-size: 1.25em;
    color: orange;
}
.h4 {
    font-size: 1.25em;
    color: orange;
}
.me {
    width: 60%; 
}

#home {
    font-size: 1.25em;
    display: flex;
    padding-top: 1em;
    width: 100%;
    /*background-color:#fcf1ac;*/
}

.computer {
    width: 50%;    
    padding-top: 1%;
    height: 10%;
}
.image {
    height: 10%;
    width: 50%;    
    padding-top: 1%;
}

.information {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

#langue {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 2em;
}
/*
.box {
    display: flex;
    gap: 2em;
}*/

.hr{
    width: 50%;
    color: var(--line);
    background-color: var(--line);
    height: 2px;
    border-width: 0;
}

#website {
    font-size: 1.25em;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*padding-top: 5%;*/
    /*background-color:#fcf1ac;*/
}

.projects {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(4, 1fr);  
    grid-template-rows: auto;
}

a {
    text-decoration: none;
    color: var(--text);
}
.responsive {
    float: left;
    width: 300px;
    margin: 50px;

}

.gallery {
    border: 1px solid var(--border_gallery);
    background-color: var(--background);
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 var(--shadow_1), 0 6px 20px 0 var(--shadow_2);
}
.gallery img {
    width: 100%;
    height: 150px;
}

* {
    box-sizing: border-box;
  }

.info {
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-family: 'Nunito',sans-serif;
    width: 300px;
  }

/*.button-nettside {
    color: rgb(23, 19, 209);
    text-decoration: none;
    font-family: 'Nunito';
}

.button_1 {
    background-color: rgb(252, 202, 202);
    font-size: 1.125em;
    font-weight: bold;
    padding: 10px 28px;
    border-radius: 8px;
    border: 2px solid #ffa8a8;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}*/

.footer {
    display: flex;
    background-color: var(--bottom);
    color: var(--text);
    align-items: center;
    margin-top: 10%;
    flex-direction: column;
}

.github {
    width: 50px;
    margin: 5px;
}

.made_by {
    color: var(--text);
    font-size: 1.125em;
}


/* Responsive opp til desktop */
@media (max-width: 1025px) {
    .projects {
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(4, 1fr);
    }
	
    
}
/* Responsive opp til desktop liten */
@media (max-width: 1024px) {
    .projects {
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: auto;
    }
	
}
/* Responsive opp til tablet */
@media (max-width: 770px) {
    .projects {
        grid-template-rows: repeat(2, 1fr);
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto;
    }

    .information {   
        width: 50%; 
        height: 30%;
    }
   
    .computer {
        width: 50%; 
        height: 60%;
        
    }
    .image {
        height: 50%;
        width: 50%;    
        display: flex;
        justify-content: center;
        padding-top: 10%;
    }
    
}
/* Responsive opp til mobil */
@media (max-width: 426px) {
	.projects {
        grid-template-rows: repeat(1, 1fr);
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }

    .ul {
        flex-direction: column
    }

    #home, 
    #website {   
        flex-direction: column;
        align-items: center;
    }

    .information{
        width: 100%;
    }

    .computer {
        width: 50%;
        padding: 0;
    }
}